<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if (title) { %>
        <title><%= title %> | Social Login</title>
    <% } else { %>
        <title>Welcome to Social Login</title>
    <% } %>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

    <%- include('partials/header.ejs') -%>

    <div class="container">
        <h3>Profile Page</h3>
        <p><b>Welcome, <%= user.username %></b></p>
        <img src="<%= user.thumbnail %>" alt="Profile Photo" class="img-fluid img-thumbnail" width="250">
    </div>

    <%- include('partials/footer.ejs') -%>

    <script type="text/javascript" src="/javascripts/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.bundle.min.js"></script>
</body>

</html>